# Folders that must be ignored
.cloud
.storage
deps
tts
etc/customize.yaml

# Ensure these files are ignored to prevent a leak
certs/
acme.json
ip_bans.yaml
secrets.yaml
known_devices.yaml
service_account.json
hosts.yaml
zones.yaml
webostv.conf

# Logs
*.log

# Databases
*.db
